<div class="day-picker">
  <PickerHeader
    @togglePickerProperties={{@togglePickerProperties}}
    @title={{@title}}
    @prevAction={{@prevAction}}
    @nextAction={{@nextAction}}
    @prevIsDisabled={{and (eq @minMonth @month) (eq @minYear @year)}}
    @nextIsDisabled={{and (eq @maxMonth @month) (eq @maxYear @year)}}
  />

  <DayPickerList
    @model={{days}}
    as |item|
  >
    <PickerListItem
      @selectAction={{action @selectAction item.day}}
      @isDisabled={{item.disabled}}
      @selected={{eq item.day @day}}
      @title={{item.day}}
    />
  </DayPickerList>
</div>
