<div
  class="date-picker"
  onclick={{action handleInternalClick}}
>
  <label
    class="date-picker__date"
    for={{inputId}}
    onclick={{action togglePicker}}
  >
    <input
      id={{inputId}}
      class="date-picker__input"
      type="date"
      value="{{inputValue}}"
      readonly={{true}}
    />
    <i>📅</i>
  </label>

{{#if state.showDayPicker}}
  <!-- DayPicker
    @togglePickerProperties={{action togglePickerProperties  'showMonthPicker' 'showDayPicker'}}
    @title="{{monthToString}} {{state.year}}"
    @prevAction={{action prevMonth}}
    @nextAction={{action nextMonth}}
    @selectAction={{action selectDay}}
    @year={{state.year}}
    @minYear={{state.minYear}}
    @maxYear={{state.maxYear}}
    @month={{state.month}}
    @minMonth={{state.minMonth}}
    @maxMonth={{state.maxMonth}}
    @day={{state.day}}
    @minDay={{state.minDay}}
    @maxDay={{state.maxDay}}
    @startOnMonday={{state.startOnMonday}}
  / -->

  <div class="day-picker" aria-hidden={{state.showDayPicker}}>
    <PickerHeader
      @togglePickerProperties={{action togglePickerProperties  'showMonthPicker' 'showDayPicker'}}
      @title="{{monthToString}} {{state.year}}"
      @prevAction={{action prevMonth}}
      @nextAction={{action nextMonth}}
      @prevIsDisabled={{and (eq state.minMonth state.month) (eq state.minYear state.year)}}
      @nextIsDisabled={{and (eq state.maxMonth state.month) (eq state.maxYear state.year)}}
    />

    <DayPickerList
      @model={{days}}
      @customClass="day-picker__list"
      as |item|
    >
      <PickerListItem
        @selectAction={{action selectDay item.day}}
        @isDisabled={{item.disabled}}
        @selected={{eq item.day state.day}}
        @title={{item.day}}
      />
    </DayPickerList>
  </div>
{{/if}}

{{#if state.showMonthPicker}}
  <div class="month-picker">
    <PickerHeader
      @togglePickerProperties={{action togglePickerProperties  'showYearPicker' 'showMonthPicker'}}
      @title={{state.year}}
      @prevAction={{action prevYear}}
      @nextAction={{action nextYear}}
      @prevIsDisabled={{eq state.minYear state.year}}
      @nextIsDisabled={{eq state.maxYear state.year}}
    />

    <PickerList
      @model={{months}}
      @customClass="month-picker__list"
      as |item|
    >
      <PickerListItem
        @selectAction={{action selectMonth item.monthIndex}}
        @isDisabled={{item.disabled}}
        @selected={{eq item.monthIndex state.month}}
        @title={{item.month}}
      />
    </PickerList>
  </div>
{{/if}}

{{#if state.showYearPicker}}
  <div class="year-picker">
    <PickerHeader
      @title="{{firstYear.year}} - {{lastYear.year}}"
      @prevAction={{action prevYears}}
      @nextAction={{action nextYears}}
      @prevIsDisabled={{eq yearsIndexMin yearsIndex}}
      @nextIsDisabled={{eq yearsIndexMax yearsIndex}}
    />

    <PickerList
      @model={{years}}
      @customClass="year-picker__list"
      as |item|
    >
      <PickerListItem
        @selectAction={{action selectYear item.year}}
        @isDisabled={{item.disabled}}
        @selected={{eq item.year state.year}}
        @title={{item.year}}
      />
    </PickerList>
  </div>
{{/if}}
</div>
