<nav class="burger-menu" style={{style}}>
  <g-link @to="/" @historyPush={{@historyPush}}  @clickHandler={{action @toggleBurgerMenu}}>
    homepage
  </g-link>
  <g-link @to="/day-one" @historyPush={{@historyPush}}  @clickHandler={{action @toggleBurgerMenu}}>
    Day One - g-slider
  </g-link>
  <g-link @to="/day-two" @historyPush={{@historyPush}}  @clickHandler={{action @toggleBurgerMenu}}>
    Day Two - g-date-picker
  </g-link>
  <g-link @to="/day-three" @historyPush={{@historyPush}}  @clickHandler={{action @toggleBurgerMenu}}>
    Day three - g-redux
  </g-link>
  <g-link @to="/day-four" @historyPush={{@historyPush}}  @clickHandler={{action @toggleBurgerMenu}}>
    Day Four - g-router
  </g-link>
  <g-link @to="/day-five" @historyPush={{@historyPush}}  @clickHandler={{action @toggleBurgerMenu}}>
    Day Five - g-router (switch)
  </g-link>
  <g-link @to="/day-six" @historyPush={{@historyPush}}  @clickHandler={{action @toggleBurgerMenu}}>
    Day Six - build the demo
  </g-link>
  <g-link @to="/day-seven" @historyPush={{@historyPush}}  @clickHandler={{action @toggleBurgerMenu}}>
    Day Seven - conclusion
  </g-link>
  <hr/>
  <a class="g-link">
    github
  </a>
</nav>
