<div class="slider">
  <header class="slider__header">
    <h1>{{@title}}</h1>
  </header>

  <div class="slider__wrapper" style="width: {{slideWidth}}px; height: {{slideHeight}}px;">
    <ul
      class="slider__slides"
      style="transform: translateX({{slidesOffset}}px)"
    >
    {{#each @slides key="@index" as |slide|}}
      {{yield slideWidth slideHeight slide}}
    {{else}}
      {{#if @slidesLength}}
        {{yield slideWidth slideHeight}}
      {{else}}
        <Slide @slideWidth={{slideWidth}} @slideHeight={{slideHeight}}>
          <p>No Slides Available!</p>
        </Slide>
      {{/if}}
    {{/each}}
    </ul>
  </div>

  <footer class="slider__footer">
  {{#if (gt @slidesLength 1)}}
    <button class="slider__button" onclick={{action prevSlide}}>prev</button>
  {{/if}}

  {{#if @slidesLength}}
    <div class="slider__counters">
    {{#each navButtons key="@index" as |navButton index|}}
      <button
        class="slider__counter"
        onclick={{action pickSlide index}}
        disabled={{eq index currentIndex}}
      ></button>
    {{/each}}
    </div>
  {{/if}}

  {{#if (gt @slidesLength 1)}}
    <button class="slider__button" onclick={{action nextSlide}}>next</button>
  {{/if}}
  </footer>
</div>
