<div class="day-five">
  <main class="md-page">
    {{{html}}}
  </main>

  <DayFiveDemo @historyPush={{@historyPush}} @pathname={{@pathname}} @path={{@path}} />

  <footer>
    <nav>
      <LinkTo @to="/day-four" @historyPush={{@historyPush}}>
        Day Four - Router & Route
      </LinkTo>
      <LinkTo @to="/day-six" @historyPush={{@historyPush}}>
        Day six - Build the Demo
      </LinkTo>
    </nav>
  </footer>
</div>
