<nav class="burger-menu" style={{style}}>
  <LinkTo @to="{{@path}}" @historyPush={{@historyPush}}  @clickHandler={{action @toggleBurgerMenu}}>
    homepage
  </LinkTo>
  <LinkTo @to="{{@path}}day-one" @historyPush={{@historyPush}}  @clickHandler={{action @toggleBurgerMenu}}>
    Day One - Slider
  </LinkTo>
  <LinkTo @to="{{@path}}day-two" @historyPush={{@historyPush}}  @clickHandler={{action @toggleBurgerMenu}}>
    Day Two - DatePicker
  </LinkTo>
  <LinkTo @to="{{@path}}day-three" @historyPush={{@historyPush}}  @clickHandler={{action @toggleBurgerMenu}}>
    Day three - With Redux
  </LinkTo>
  <LinkTo @to="{{@path}}day-four" @historyPush={{@historyPush}}  @clickHandler={{action @toggleBurgerMenu}}>
    Day Four - Router & Route
  </LinkTo>
  <LinkTo @to="{{@path}}day-five" @historyPush={{@historyPush}}  @clickHandler={{action @toggleBurgerMenu}}>
    Day Five - RouteSwitch
  </LinkTo>
  <LinkTo @to="{{@path}}day-six" @historyPush={{@historyPush}}  @clickHandler={{action @toggleBurgerMenu}}>
    Day Six - Build the Demo
  </LinkTo>
  <LinkTo @to="{{@path}}day-seven" @historyPush={{@historyPush}}  @clickHandler={{action @toggleBurgerMenu}}>
    Day Seven - Update and Fix
  </LinkTo>
  <hr/>
  <a href="https://github.com/c0urg3tt3/glimmer-learning" target="_blank" rel="noopener" class="g-link">
    github
  </a>
</nav>
